.footer {
    color: white;
    padding: 30px;
    background-color: rgb(19, 92, 67);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    grid-gap: 20px;
}
.footer-item {
    width:200px;
}
.address small {
    color: white
}



.links {
    display: flex;
    justify-content: space-between;

}

